/.idea/**
src/FinaTech.*/bin/
src/FinaTech.*/obj/
test/FinaTech.*/bin/
test/FinaTech.*/obj/
test/FinaTech.Web.*/bin/
test/FinaTech.Web.*/obj/
src/FinaTech.Web.Blazor/bin/
src/FinaTech.Web.Blazor/obj/
